.navbar {
    width: 100%;
    padding: 1rem 2rem;
    background-color: rgb(26, 26, 29, 0.7);
    backdrop-filter: blur(0.5rem);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  
  .link {
    color:  rgb(254, 255, 167);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
  }
  
  .link:hover {
    color: #ffee58;
    text-shadow: 0 0 6px #ffee58, 0 0 12px #ffee58, 0 0 18px #ffee58;
    transform: scale(1.05);
  }
  