.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .input {
    padding: 1rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1rem;
    width: 80%;
  }
  
  .button {
    padding: 1rem 1.2rem;
    font-size: 1rem;
    background-color: rgb(254, 255, 167);
    color: #111;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
    width: 50%;
    box-shadow: 0 0 0.3rem rgba(255, 238, 88, 0.8);
  }
  
  .button:hover {
    background-color: #fff176;
    box-shadow: 0 0 0.4rem rgba(255, 238, 88, 1);
  }
  